<div class="flying-container">
    <div class="filter-box-container">
        <div class="filter-content">
            <app-filter-item></app-filter-item>
            <app-filter-item></app-filter-item>
            <app-filter-item></app-filter-item>
            <app-filter-item></app-filter-item>
            <app-filter-item></app-filter-item>
            <app-filter-item></app-filter-item><app-filter-item></app-filter-item>
            <app-filter-item></app-filter-item>
            <app-filter-item></app-filter-item><app-filter-item></app-filter-item>
            <app-filter-item></app-filter-item>
            <app-filter-item></app-filter-item>
        </div>

        <div class="filter-clear-btn">
            <p id="clear-btn">
                Clear
            </p>
        </div>
    </div> 
</div>