<div [ngStyle]="{'border-left-color': getColor()}" class="job-item-container">
    <div class="company-icon-container">
        <img src="/assets/images/{{job.img}}" alt="">
    </div>
    <div class="job-detail-container">
        <div class="company-container">
            {{job.company}}
            <div class="new-bubble" *ngIf="getNew()">
                NEW!
            </div>
            <div class="featured-bubble" *ngIf="getFeature()">
                FEATURED
            </div>
        </div>
        <div class="job-container">
            {{job.job}}
        </div>
        <div class="job-desc-container">
            <p>{{job.date}}</p>
            <p class="dot-seperator">•</p>
            <p>{{job.type}}</p>
            <p class="dot-seperator">•</p>
            <p>{{job.location}}</p>
        </div>
    </div>
    <hr>
    <div class="filter-container">
        <!-- entar disini ng for buat filter componentnya -->
        <app-filter-item *ngFor="let fil of job.filter" [filterName]="fil"></app-filter-item>
    </div>
</div>